<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Indicadores</title>

    <link rel="stylesheet" href="/public/delete.css">
</head>
<body>
    <div class="background__wrapper">
        <header class="-header">
            <img src="/src/Recursos/kario sin kairo.svg" style="max-width: 130px;" alt="Kario Logo.png">
            <h1>Eliminar Indicadores</h1>
            <div class="buttons">
                <button>Eliminar</button>
                <a href="dashboard.html">Volver</a>
            </div>
        </header>
        <main class="-body">
            <table class="table__container">
                <tr class="table--row">
                    <th class="cell--header"></th>
                    <th class="cell--header">Indicador</th>
                    <th class="cell--header">Descripción</th>
                    <th class="cell--header">Categoría</th>
                    <th class="cell--header">Fecha Inicio</th>
                    <th class="cell--header">Fecha Terminación</th>
                    <th class="cell--header">Fórmula</th>
                    <th class="cell--header">Frecuencia</th>
                    <th class="cell--header">Cumplimiento</th>
                    <th class="cell--header">Área</th>
                </tr>
                <tr class="table--row">
                    <td class="cell--data"><input type="checkbox" name="deleter" id=""></td>
                    <td class="cell--data">Modelado 3d</td>
                    <td class="cell--data">Interés..</td>
                    <td class="cell--data">Baja</td>
                    <td class="cell--data">12/05/21</td>
                    <td class="cell--data">12/12/12</td>
                    <td class="cell--data">Met.Agil</td>
                    <td class="cell--data">1/4</td>
                    <td class="cell--data"><div class="circle"><span>31%</span></div></td>
                    <td class="cell--data">Marketing</td>
                </tr>
                <tr class="table--row">
                    <td class="cell--data"><input type="checkbox" name="deleter" id=""></td>
                    <td class="cell--data">Finca Galeón</td>
                    <td class="cell--data">Diseño de maque....</td>
                    <td class="cell--data">Baja</td>
                    <td class="cell--data">12/04/21</td>
                    <td class="cell--data">12/05/21</td>
                    <td class="cell--data">Met.Agil</td>
                    <td class="cell--data">1/4</td>
                    <td class="cell--data"><div class="circle"><span>25%</span></div></td>
                    <td class="cell--data">Diseño</td>
                </tr>
                <tr class="table--row">
                    <td class="cell--data"><input type="checkbox" name="deleter" id=""></td>
                    <td class="cell--data">Colegios Privados</td>
                    <td class="cell--data">Se busca llegar a los...</td>
                    <td class="cell--data">Media</td>
                    <td class="cell--data">24/04/21</td>
                    <td class="cell--data">12/11/21</td>
                    <td class="cell--data">Met.Fibo</td>
                    <td class="cell--data">1/4</td>
                    <td class="cell--data"><div class="circle" id="c1"><span>80%</span></div></td>
                    <td class="cell--data">Developers</td>
                </tr>
                <tr class="table--row">
                    <td class="cell--data"><input type="checkbox" name="deleter" id=""></td>
                    <td class="cell--data">Electrodomésticos</td>
                    <td class="cell--data">Ventas de electro..</td>
                    <td class="cell--data">Media</td>
                    <td class="cell--data">12/04/21</td>
                    <td class="cell--data">12/09/21</td>
                    <td class="cell--data">N/A</td>
                    <td class="cell--data">1/3</td>
                    <td class="cell--data"><div class="circle"><span>32%</span></div></td>
                    <td class="cell--data">Gerencia</td>
                </tr>
                <tr class="table--row">
                    <td class="cell--data"><input type="checkbox" name="deleter" id=""></td>
                    <td class="cell--data">Estrato 2 -Floridablanca</td>
                    <td class="cell--data">Impactoen los sec..</td>
                    <td class="cell--data">Alta</td>
                    <td class="cell--data">12/04/21</td>
                    <td class="cell--data">12/09/21</td>
                    <td class="cell--data">Met.Expo</td>
                    <td class="cell--data">1/4</td>
                    <td class="cell--data"><div class="circle" id="c1"><span>95%</span></div></td>
                    <td class="cell--data">Marketing</td>
                </tr>
                <tr class="table--row">
                    <td class="cell--data"><input type="checkbox" name="deleter" id=""></td>
                    <td class="cell--data">Jóvenes en Acción</td>
                    <td class="cell--data">Impacto en los sec..</td>
                    <td class="cell--data">Alta</td>
                    <td class="cell--data">15/02/21</td>
                    <td class="cell--data">09/11/21</td>
                    <td class="cell--data">Met.Expo</td>
                    <td class="cell--data">1/2</td>
                    <td class="cell--data"><div class="circle" id="c2"><span>75%</span></div></td>
                    <td class="cell--data">Producción</td>
                </tr>
            </table>
        </main>
    </div>
</body>
</html>