<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="/public/notif.css">

</head>
<body>
    <section class="dashboard-background__wrapper">
        <section class="dashboard__header">
            <nav id="navbar">
                <a href="/views/dashboard.html" class="--link"><img src="../src/Recursos/kario sin kairo.svg" style="max-width: 40px;" alt="Link to Add Indicator Page"> Inicio</a>

                <a href="/views/add.html" class="--link"><img src="../src/Recursos/Group 3.svg" alt=""> Añadir</a>

                <a href="#" class="--link"><img src="../src/Recursos/Icon material-delete-forever.svg" alt=""> Eliminar</a>

                <a href="#" class="--link" id="main"><img src="../src/Recursos/kario sin kairo.svg" alt="" style="max-width: 50px;"></a>

                <a href="#" class="--link"><img src="../src/Recursos/Icon material-bug-report.svg" alt=""> Reportar</a>

                <a href="#" class="--link"><img src="../src/Recursos/ayuda.png" alt=""> Ayuda</a>
            </nav>
            <div class="profile__tools">
                <a href="#settings"><img src="../src/Recursos/Icon ionic-ios-settings.svg" alt=""></a>
                <a href="/views/notif.html"><img src="../src/Recursos/Icon material-notifications-active.svg" alt=""></a>
                <a href="/views/settings.html"><img src="../src/Recursos/pp.png" alt=""></a>
            </div>
        </section>
        <section class="dashboard__body">
            <div class="header">
                <h1>Panel de Notificaciones</h1>
                <a href="/views/dashboard.html" style="text-decoration: none;">❎</a>
            </div>
            <div class="notif__container">
                <div class="--notification">
                    <div class="container">
                        <h2>Ticher Salas</h2>
                        <article>El Profesor ha calificado tu trabajo, Excelente!</article>
                    </div>
                    <div class="info">
                        <span>Clase: <strong>Programación</strong></span>
                        <span>Nota: <strong>80.9%</strong></span>    
                        <span>Paso?: <strong>Sí</strong></span>
                    </div>
                </div>
                <div class="--notification">
                    <div class="container">
                        <h2>Ticher Salas</h2>
                        <article>El Profesor ha calificado tu trabajo, Excelente!</article>
                    </div>
                    <div class="info">
                        <span>Clase: <strong>Programación</strong></span>
                        <span>Nota: <strong>80.9%</strong></span>
                        <span>Paso?: <strong>Sí</strong></span>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>