<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="/public/settings.css">

</head>
<body>
    <div class="background">
        <div class="settings__card">
            <div class="left">
                <img src="/src/Recursos/pp@2x.png" alt="">
                <div class="selection--box">
                    <span class="active">Cuenta</span>
                    <span>Seguridad</span>
                    <span>Ajustes</span>
                    <a id="logout" href="/index.html">Cerrar Sesión</a>
                </div>
            </div>
            <div class="right">
                <h1>Perfil</h1>
                <div class="card">
                    <div class="left--card">
                        <form action="">
                            <div class="input--box">
                                <label for="username">Usuario</label>
                                <input type="text" name="username">
                            </div>
                            <div class="input--box">
                                <label for="username">Email</label>
                                <input type="email" name="username">
                            </div>
                            <div class="input--box">
                                <label for="username">Telefono </label>
                                <input type="text" name="username">
                            </div>
                            <a href="/views/dashboard.html">Guardar</a>
                        </form>
                    </div>
                    <div class="right--card">
                        <img src="/src/Recursos/pp@2x.png" alt="">
                        <input id="photo" type="file"></input>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>