* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    background-image: url(/src/Recursos/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 190px;
}
header img {
    filter: drop-shadow(1px 1px 9px rgba(0, 0, 0, 0.28));
}
.--title {
    text-align: center;
}
.--title h1 {
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
main {
    min-height: calc(100vh - 190px);
    display: flex;
    justify-content: center;
}
form {
    min-height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
form .form__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

input {
    padding: 25px;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 0px rgba(238, 87, 0, 0.485);
}
input:focus {
    border: 1px solid rgb(238, 87, 0);
    outline: none;
}
select {
    width: 24em;
    height: 2rem;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

button, a {
    padding: 9px 40px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.651);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.437);
    background: white;
    cursor: pointer;
}
a {
    background-color: rgb(238, 87, 0);
    color: white;
    text-decoration: none;
}
button:active, a:active{
    transform: translateY(5px);
    box-shadow: 0 0 0 #ffffff00;
    border: 1px solid rgb(238, 87, 0);
}