* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.background__container {
    background-image: url(/src/Recursos/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.report__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 60%;
    margin: auto;
    padding: 15px;
    height: 8.75rem;
}
.report__header img {
    padding: 15px;
}
.report__header h1 {
    display: flex;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
button, a {
    padding: 9px 40px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.651);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.437);
    background: white;
    cursor: pointer;
}
a {
    background-color: rgb(238, 87, 0);
    color: white;
    text-decoration: none;
}
button:active, a:active{
    transform: translateY(5px);
    box-shadow: 0 0 0 #ffffff00;
    border: 1px solid rgb(238, 87, 0);
}
.report__body form{
    min-height: calc(100vh - 8.75rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

input {
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid black;
    width: 40%;
}
input#desc {
    width: 40%;
    padding-bottom: 120px;
    border-radius: 25px;
}
#upload {
    width: auto;
    padding: 15px 40px;
}